*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #111;
  color: #fff;
  font-family: "Microsoft Yahei ", "微软雅黑", sans-serif;
}
.loading_text {
  pointer-events: none;
}
.loading_box {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}
.loading_box canvas {
  display: block;
  height: 100%;
  width: 100%;
}
.dg.ac *,
.dg.ac *:before,
.dg.ac *:after {
  box-sizing: content-box;
}
